doctype html 
html 
    head
        title= title 
        link(rel="stylesheet", href="style.css")

    body
        nav
            ul
                li
                    a(href="#") Home

            ul
                li
                    a(href="#") Registrar

            ul
                li
                    a(href="#") Acerca de 
                    
        block content 